{% extends 'index.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Borrow Records</h2>
    <form method="GET" action="{% url 'borrow_record_list' %}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ query }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Book</th>
                <th>Borrower</th>
                <th>Borrow Date</th>
                <th>Return Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for record in page_obj %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.book.title }}</td>
                <td>{{ record.user.username }}</td>
                <td>{{ record.borrowed_date|date:"Y-m-d H:i" }}</td>
                <td>{{ record.return_date|date:"Y-m-d H:i" }}</td>
                <td>
                    {% if record.is_returned %}
                        <span class="badge badge-success">Returned</span>
                    {% else %}
                        <span class="badge badge-warning">Not Returned</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination mt-3">
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

</div>
{% endblock %}




